// _sass/custom.scss
$primary-color: #1e4363;
$secondary-color: #0077b5;
$background-color: #1c1c1c;
$font-color: #f5f5f5;

body {
  background-color: $background-color;
  color: $font-color;
  font-family: sans-serif;
}

a {
  color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-color;
}

hr {
  border-color: $secondary-color;
}

.post {
  margin-bottom: 2rem;
  
  .post-title {
    color: $secondary-color;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .post-date {
    color: $secondary-color;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  
  .post-content {
    color: $font-color;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}